
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">SubCategoria</h2>

<div class="text-center">
    <button class="btn btn-success m-3" onclick="showModal()">Agregar</button>
</div>
<div class="col-md-12">

    <table id="tablaEmpleado" class="table table-hover" border="1">
        <thead class="table-dark">
            <tr>
                <th class="text-center" scope="col"></th>
                <th class="text-center" scope="col">SubCategoria</th>
                <th class="text-center" scope="col">Categoria</th>
                <th class="text-center" scope="col"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="modalClose()">×</button>
                <h4 class="modal-title">Formulario SubCategoria</h4>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group d-flex justify-content-center m-2">
                        <input class="form-control" id="txtidSubcategoria" placeholder="IdCategoria" type="hidden" />
                    </div>
                    <div class="form-group d-flex justify-content-center m-2">
                        <input type="text" class="form-control" id="txtNombre" placeholder="Nombre de la SubCategoria" />
                    </div>
                    <div class="form-group d-flex justify-content-center m-2">
                        <select class="form-control" id="ddlCategorias">
                            <option value="0">Selecciona una Categoria</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success m-1" id="btnUpdate" onclick="guardar()">Guardar</button>
                <button type="button" class="btn btn-danger m-1" data-dismiss="modal" onclick="modalClose()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">
    $(document).ready(function () { //click
        GetAll();
        GetAllCategoria();

    });
    function showModal() {
        $('#modal').modal("show");
    }

    function modalClose() {
        $('#modal').modal("hide");
    }

    function guardar() {
        var IdSubCategoria = $('#txtidSubcategoria').val()
        if (IdSubCategoria == 0) {
            Add();
        } else {
            Update();
        }
    }

    function limpiarModal() {
        $('#txtidSubcategoria').val('');
        $('#txtNombre').val('');
        $('#ddlCategorias option[value="0"]').attr("selected", true);
    }


    function GetAll() {
        $.ajax({

            url: 'http://localhost:21682/api/SubCategorias/',
            type: 'GET',
            success: function (result) {
                console.log(result)
                $('#tablaEmpleado tbody').empty();
                $.each(result, function (i, subCategoria) {

                    var filas =
                        '<tr>'
                        + '<td class="text-center"> '
                        + '<button class="btn btn-outline-warning" onclick="GetById(' + subCategoria.IdSubcategorias + ')">'
                        + '<i class="fa-solid fa-pen-to-square fa-xl"></i>'
                        + '</button> '
                        + '</td>'
                        + "<td class='text-center'>" + subCategoria.Nomnbre + "</td>"
                        + "<td class='text-center'>" + subCategoria.Categorias.Nombre + "</td>"
                        + '<td class="text-center"> <button class="btn btn-danger" onclick="Eliminar(' + subCategoria.IdSubcategorias + ')"><i class="fa-solid fa-ban fa-xl" style="color: #ffffff;"></i></button></td>'
                        + "</tr>";

                    $("#tablaEmpleado tbody").append(filas);
                });
            },
            error: function (result) {
                alert('Error en la consulta.' + result.responseJSON.ErrorMessage); //es un error de JSON, y es porque puede venir vacio o null
            }
        });
    };
    function GetAllCategoria() {
        $.ajax({
            url: 'http://localhost:21682/api/Categoria',
            type: 'GET',
            success: function (result) {
                console.log(result)
                $.each(result, function (i, categoria) {
                    var filas =
                        '<option value="' + categoria.IdCategoria + '">' + categoria.Nombre + '</option>';
                    $("#ddlCategorias").append(filas);
                });
            },
            error: function (result) {
                alert('Error .' + result.responseJSON.ErrorMessage);
            }
        });
    }

    function Eliminar(idSubCategoria) {
        if (confirm("Estas seguro de eliminar el equipo ")) {
            $.ajax({
                type: 'DELETE',
                url: 'http://localhost:21682/api/SubCategorias/' + idSubCategoria,
                success: function (result) {
                    $('#myModal').modal();
                    GetAll();
                },
                error: function (result) {
                    alert('Error en la consulta.' + result.responseJSON.ErrorMessage);
                }
            });
        };
    };
    function GetById(idSubCategorias) {
        $.ajax({
            type: 'GET',
            url: 'http://localhost:21682/api/SubCategorias/' + idSubCategorias,
            success: function (result) {
                limpiarModal();
                $('#txtidSubcategoria').val(result[0].IdSubcategorias);
                $('#txtNombre').val(result[0].Nomnbre);
                $("#ddlCategorias option[value='" + result[0].Categorias.IdCategoria + "']").attr("selected", true);
                $('#modal').modal('show');
            },
            error: function (result) {
                alert('Error en la consulta.' + result.responseJSON.ErrorMessage);
            }
        });
    }

    function Update() {
        var SubCategoria = {
            IdSubcategorias: $('#txtidSubcategoria').val(),
            Nomnbre: $('#txtNombre').val(),
            Categorias: {
                IdCategoria: $('#ddlCategorias').val(),
            }
        }
        $.ajax({
            type: 'PUT',
            url: 'http://localhost:21682/api/SubCategorias/' + SubCategoria.IdSubcategorias,
            contentType: 'application/json', // Aquí se establece el Content-Type
            data: JSON.stringify(SubCategoria),
            success: function (result) {
                alert("SubCategoria se ha actualizado correctamente");
                modalClose();
                limpiarModal();
                GetAll();
            },
            error: function (result) {
                alert('Error en la consulta.' + result.responseJSON.ErrorMessage);
            }
        });
    }

    function Add() {
        var SubCategoria = {
            Nomnbre: $('#txtNombre').val(),
            Categorias: {
                IdCategoria: $('#ddlCategorias').val(),
            }

        }
        $.ajax({
            url: 'http://localhost:21682/api/SubCategorias',
            type: 'POST',
            contentType: 'application/json', // Aquí se establece el Content-Type
            data: JSON.stringify(SubCategoria), // Asegúrate de convertir tu objeto a una cadena JSON
            success: function (result) {
                alert("Sub categoria dado de alta correctamente");
                modalClose();
                limpiarModal();
                GetAll();
            },
            error: function (result) {
                console.log(result);
                alert('Error en la consulta.' + result.responseJSON.ErrorMessage); //es un error de JSON, y es porque puede venir vacio o null
            }
        });
    }

</script>


